<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.24.24.95" />
  <package id="CairoSharp" version="3.24.24.95" />
  <package id="GLibSharp" version="3.24.24.95" />
  <package id="GdkSharp" version="3.24.24.95" />
  <package id="GioSharp" version="3.24.24.95" />
  <package id="GtkSharp" version="3.24.24.95" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="PangoSharp" version="3.24.24.95" />
  <package id="System.Security.AccessControl" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
  <package id="Tmds.DBus" version="0.23.0" manuallyInstalled="true" />
  <package id="Tomlyn" version="0.19.0" manuallyInstalled="true" />
</packages>